<main id="main" class="main">

    <div class="pagetitle">
        <h1>Departamento</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                <li class="breadcrumb-item">Departamento</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-4">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Adicionar Departamento</h5>
                        <form class="row g-3" [formGroup]="departmentForm" (ngSubmit)="createDepartment()">
                            <div class="col-12">
                                <label for="id" class="form-label">ID</label>
                                <input type="text" [formControlName]="'id'" class="form-control" id="id">
                            </div>
                            <div class="col-12">
                                <label for="name" class="form-label">Nome do Departamento</label>
                                <input type="text" [formControlName]="'name'" class="form-control" id="name" placeholder="Exemplo: Departamento de Informatica">
                            </div>
                            <div class="col-12">
                                <label for="abrev" class="form-label">Abreviacão</label>
                                <input type="text" [formControlName]="'shortName'" class="form-control" id="abrev" placeholder="Exemplo: TI">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"
                                    style="margin-right: 3px; width: 95px;">Salvar</button>
                                <button type="reset" class="btn btn-warning" style="width: 95px;"
                                    (click)="cleanForm()">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lista de Departamentos</h5>
                        <div class="search-bar" style="margin-bottom: 25px;">
                            <form class="search-form row g-2" [formGroup]="searchForm"
                                (ngSubmit)="searchDepartmentByName()">
                                <div class="col-md-5" style="position:absolute; right:0px; top:35px;">
                                    <input type="text" [formControlName]="'departmentName'" name="departmentName"
                                        placeholder="Pesquise pelo departamento" title="Insira o nome do departmento">
                                    <button type="submit" title="Pesquisar"><i class="bi bi-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Abreviacão</th>
                                    <th scope="col">Quant.</th>
                                    <th scope="col">Accões</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let department of departments | paginate: { itemsPerPage: 8, currentPage: page, totalItems: total}">
                                    <th scope="row">{{department.id}}</th>
                                    <td>{{department.name}}</td>
                                    <td>{{department.shortName}}</td>
                                    <td>{{department.employeeQuantity}}</td>
                                    <td>
                                        <button style="width: 40px; margin-right: 2px;"
                                            class="bi bi-eye-fill btn btn-info" title="Ver Departamento"></button>
                                        <button style="width: 40px; margin-right: 2px;" (click)="deleteDepartment(department.id)"
                                            class="bi bi-trash btn btn-danger" title="Deletar"></button>
                                        <button style="width: 40px;" class="bi bi-pencil-square btn btn-warning"
                                           (click)="fillForm(department.id)" title="Editar"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <pagination-controls (pageChange)="loadPage(page = $event)" previousLabel="Anterior"nextLabel="Próximo"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>