<main id="main" class="main">

    <div class="pagetitle">
        <h1>Funcionário</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/employee">Funcionários</a></li>
                <li class="breadcrumb-item active">Adicionar</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Formulário de Funcionário</h5>

                <!-- No Labels Form -->
                <form class="row g-3" [formGroup]="employeeForm" (ngSubmit)="createEmployee()">
                    <div class="col-md-4">
                        <label for="id" class="form-label">ID</label>
                        <input type="text" [formControlName]="'id'" name="id" id="id" class="form-control" title="Id">
                    </div>
                    <div class="col-md-8">
                        <label for="cod" class="form-label">Código de Identificacão</label>
                        <input type="text" [formControlName]="'employeeIdentifier'" name="cod" id="cod" class="form-control" title="Código de Identificacão">
                    </div>
                    <div class="col-md-6">
                        <label for="firstname" class="form-label">Nome</label>
                        <input type="text" [formControlName]="'firstname'" name="firstname" class="form-control" placeholder="Insira o nome" title="Nome do Funcionário">
                    </div>
                    <div class="col-md-6">
                        <label for="lastname" class="form-label">Apelido</label>
                        <input type="text" [formControlName]="'lastname'" name="lastname" class="form-control" placeholder="Insira o apelido" title="Apelido do Funcionário">
                    </div>
                    <div class="col-md-4">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" [formControlName]="'email'" name="email" class="form-control" placeholder="Insira o email" title="Email do Funcionário">
                    </div>
                    <div class="col-md-4">
                        <label for="birthdate" class="form-label">Data de Aniversário</label>
                        <input type="date" [formControlName]="'birthdate'" name="birthdate" class="form-control" title="Data de Aniversário do Funcionário">
                    </div>
                    <div class="col-md-4">
                        <label for="salary" class="form-label">Salário</label>
                        <input type="number" name="salary" class="form-control" placeholder="Insira o salário" title="Salário">
                    </div>
                    <div class="col-md-6">
                        <label for="department" class="form-label">Departamento</label>
                        <select name="department" [formControlName]="'department'" class="form-select" title="Departamento">
                            <option selected>Selecione o departamento</option>
                            <option *ngFor="let d of departments">{{d.name}}</option>
                        </select>
                    </div>    
                    <div class="col-md-6">
                        <label for="cargo" class="form-label">Cargo</label>
                        <select name="cargo" class="form-select" title="Cargo">
                            <option selected>Selecione o cargo</option>
                            <option *ngFor="let p of positions">{{p.positionName}}</option>
                        </select>
                    </div>              
                    <div class="col-md-4">
                        <label for="street" class="form-label">Rua</label>
                        <input type="text" [formControlName]="'street'" name="street" class="form-control" placeholder="Insira a rua da moradia" title="Rua da Moradia do Funcionário">
                    </div>
                    <div class="col-md-4">
                        <label for="houseNumber" class="form-label">Número da Casa</label>
                        <input type="text" [formControlName]="'houseNumber'" name="houseNumber" class="form-control" placeholder="Insira o número de casa" title="Número de Casa">
                    </div>                    
                    <div class="col-md-4">
                        <label for="zipCode" class="form-label">Código Postal</label>
                        <input type="text" [formControlName]="'zipCode'" name="zipCode" class="form-control" placeholder="Insira o código Postal" title="Código Postal">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary" style="margin-right: 3px; width: 95px;">Salvar</button>
                        <button type="reset" class="btn btn-warning" style="width: 95px;" (click)="cleanForm()">Cancelar</button>
                    </div>
                </form><!-- End No Labels Form -->

            </div>
        </div>
    </section>
</main>