<main id="main" class="main">

    <div class="pagetitle">
        <h1>Funcionário</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/employee">Funcionários</a></li>
                <li class="breadcrumb-item active">Adicionar</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Formulário de Funcionário</h5>

                <!-- No Labels Form -->
                <form class="row g-3" [formGroup]="employeeForm" (ngSubmit)="createEmployee()">
                    <div class="col-md-4">
                        <label for="id">ID</label>
                        <input type="text" [formControlName]="'id'" name="id" id="id" class="form-control" title="Id">
                    </div>
                    <div class="col-md-8">
                        <label for="cod">Código de Identificacão</label>
                        <input type="text" [formControlName]="'employeeIdentifier'" name="cod" id="cod" class="form-control" title="Código de Identificacão">
                    </div>
                    <div class="col-md-6">
                        <input type="text" [formControlName]="'firstname'" class="form-control" placeholder="Nome" title="Nome do Funcionário">
                    </div>
                    <div class="col-md-6">
                        <input type="text" [formControlName]="'lastname'" class="form-control" placeholder="Apelido" title="Apelido do Funcionário">
                    </div>
                    <div class="col-md-6">
                        <input type="email" [formControlName]="'email'" class="form-control" placeholder="Email" title="Email do Funcionário">
                    </div>
                    <div class="col-md-6">
                        <input type="text" [formControlName]="'birthdate'" class="form-control" placeholder="Data de Aniversário" title="Data de Aniversário do Funcionário">
                    </div>
                    <div class="col-md-12">
                        <select id="department" [formControlName]="'department'" class="form-select" title="Departamento">
                            <option selected>Selecione o departamento</option>
                            <option *ngFor="let d of departments">{{d.name}}</option>
                        </select>
                    </div>                    
                    <div class="col-md-4">
                        <input type="text" [formControlName]="'street'" class="form-control" placeholder="Rua" title="Rua da Moradia do Funcionário">
                    </div>
                    <div class="col-md-4">
                        <input type="text" [formControlName]="'houseNumber'" class="form-control" placeholder="Número de casa" title="Número de Casa">
                    </div>                    
                    <div class="col-md-4">
                        <input type="text" [formControlName]="'zipCode'" class="form-control" placeholder="Código Postal" title="Código Postal">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary" style="margin-right: 3px; width: 95px;">Salvar</button>
                        <button type="reset" class="btn btn-warning" style="width: 95px;" (click)="cleanForm()">Cancelar</button>
                    </div>
                </form><!-- End No Labels Form -->

            </div>
        </div>
    </section>
</main>