<main id="main" class="main">

    <div class="pagetitle">
        <h1>Funcionário</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/employee">Funcionários</a></li>
                <li class="breadcrumb-item active">Adicionar</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Formulário de Funcionário</h5>

                <!-- No Labels Form -->
                <form class="row g-3">
                    <div class="col-md-4">
                        <label for="id">ID</label>
                        <input type="text" name="id" id="id" class="form-control" disabled>
                    </div>
                    <div class="col-md-8">
                        <label for="cod">Código de Identificacão</label>
                        <input type="text" name="cod" id="cod" class="form-control" disabled>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Nome">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Apelido">
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-md-6">
                        <input type="date" class="form-control" placeholder="Data de Aniversário">
                    </div>
                    <div class="col-md-12">
                        <select id="inputState" class="form-select">
                            <option selected>Departamento...</option>
                            <option>...</option>
                        </select>
                    </div>                    
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Rua">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Número de casa">
                    </div>                    
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Código Postal">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary" style="width: 95px;">Salvar</button>
                        <button type="reset" class="btn btn-warning" style="margin-left: 3px; width: 95px;">Cancelar</button>
                    </div>
                </form><!-- End No Labels Form -->

            </div>
        </div>
    </section>
</main>