<main id="main" class="main">

    <div class="pagetitle">
      <h1>Funcionário</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item active">Funcionários</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lista de Funcionários</h5>
              
              <!-- Table with stripped rows -->
              <table id="datatable" class="table datatable table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Apelido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Data de Aniverário</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Accões</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employees">
                    <th scope="row">{{employee.id}}</th>
                    <td>{{employee.firstname}}</td>
                    <td>{{employee.lastname}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.birthdate}}</td>
                    <td>{{employee.department.name}}</td>
                    <td>
                      <button style="width: 45px; margin-right: 5px;" class="bi bi-person-square btn btn-info" title="Ver Perfil"></button>
                      <button style="width: 45px; margin-right: 5px;" class="bi bi-trash btn btn-danger" title="Deletar"></button>
                      <button style="width: 45px;" class="bi bi-pencil-square btn btn-warning" title="Editar"></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->